/* @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); */
@import "tailwindcss";

@theme {
    --color-thewhite: oklch(94.91% 0 0);
    --color-theblack: oklch(18.22% 0 0);
    --color-old: oklch(59.99% 0 0);
    --spacing-edge: 1.25rem;
    /* 1.25rem = 20px */
    --font-rubik: "Rubik", sans-serif;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html {
    /* @apply font-rubik leading-[1.25rem]; */
    @apply font-mono leading-[1.4rem];
    font-weight: 400;
    font-size: clamp(14px, .5vw, 24px);
}

body {
    @apply w-full h-full bg-thewhite text-theblack dark:bg-theblack dark:text-thewhite duration-200;
}

.main {
    @apply w-full min-h-[100dvh] h-[100dvh] p-edge;
}

header {
    @apply sm:fixed top-0 left-0 w-full overflow-hidden px-edge mt-edge;
}

.flex-column {
    @apply flex flex-col gap-3;
}

.list {
    @apply flex flex-col gap-0.25;
}

#theme-toggle {
    @apply w-6 aspect-square rounded-full border border-old cursor-pointer duration-200;
}

:root[data-theme="light"] #theme-toggle {
    @apply bg-theblack;
}

:root[data-theme="dark"] #theme-toggle {
    @apply bg-thewhite;
}

