---
import None from "../layouts/None.astro";
---

<None>
    <section class="w-screen h-screen font-mono">
        <div class="w-full h-full flex items-center justify-center">
            <a href="/" class="px-2 py-5 text-center leading-6">
                <span>Nothing here</span>
                <br />
                <span class="underline underline-offset-3">Go home</span>
            </a>
        </div>
    </section>
</None>
