---
import "../styles/global.css";
---

<section
    class="w-full h-screen flex items-center justify-center gap-5 px-4 bg-white text-black overflow-hidden"
>
    <p class="w-fit max-w-xs">
        <span>I do frontend, but I'm also all about interactions, animations, and user-centered experiences.</span>
        <span class="block mt-5">(Portfolio soon )</span>
    </p>
</section>
