<header class="pointer-events-none z-50">
    <nav class="flex justify-between">
        <div class="flex-column pointer-events-auto">
            <div class="text-old">ANAS</div>
            <div>
                <h1>
                    Creative front<span class="max-md:hidden">end</span> dev<span
                        class="max-xl:hidden">eloper</span
                    >
                </h1>
                <div>Portfolio soon</div>
            </div>
            <div class="pointer-events-auto flex gap-1.5">
                <div id="theme-toggle"></div>
            </div>
        </div>

        <div class="pointer-events-auto">
            <a
                class=" relative cta group text-right flex before:content-[''] before:absolute before:top-9/10 before:w-full before:h-0.25 before:bg-old"
                href="mailto:anas.frontdev@gmail.com"
                >
                <span class="w-0 arrow-up-right transition-all duration-300 scale-0 group-hover:scale-100 group-hover:w-5 origin-left">↗&nbsp;</span>
                Let's work
                <span class="max-md:hidden transition-all duration-300">&nbsp;together</span>
                <span class="w-5 arrow-up-right transition-all duration-300 scale-100 group-hover:scale-0 group-hover:w-0 origin-right">&nbsp;↗</span></a
            >
        </div>
    </nav>
</header>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const toggleButton = document.getElementById("theme-toggle");
        const htmlElement = document.documentElement;

        const handleLightMode = () => {
            const currentTheme = htmlElement.getAttribute("data-theme");
            const newTheme = currentTheme === "light" ? "dark" : "light";

            htmlElement.setAttribute("data-theme", newTheme);
        };

        toggleButton?.addEventListener("click", handleLightMode);
    });
</script>
