<header>
    <nav class="flex justify-between">
        <div class="flex-column">
            <div class="text-old">ANAS</div>
            <div>
                <h1>Creative front<span class="max-md:hidden">end</span> dev<span class="max-xl:hidden">eloper</span></h1>
                <div><span class="max-md:hidden">& </span>Artist by nature</div>
            </div>
        </div>

        <div>
            <a class="underline underline-offset-3" href="mailto:anas.frontdev@gmail.com">Let's work together</a>
        </div>
    </nav>
</header>
