---
import ProfileImage from "./ProfileImage.astro";
import AboutAnas from "./SmallComponents/AboutAnas.astro";
import FavoriteProjects from "./SmallComponents/FavoriteProjects.astro";
import HaveFun from "./SmallComponents/HaveFun.astro";
import More from "./SmallComponents/More.astro";
---

<section class="w-full h-full">
    <div class="grid grid-cols-8 gap-2.5 h-full">
        <div
            class="col-start-3 col-end-6 max-sm:col-start-1 max-md:col-end-9 mt-12 sm:mt-40 md:mt-0 mb-12"
        >
            <div class="flex flex-col gap-12">
                <AboutAnas />
                <FavoriteProjects />
                <HaveFun />
            </div>
        </div>

        <div
            class="col-start-3 col-end-9 max-sm:col-start-1 max-md:col-end-9 mt-auto"
        >
            <div class="flex justify-between items-end">
                <ProfileImage />
                <More />
            </div>
        </div>
    </div>
</section>

<script>
    import { shuffleAnimation } from "../utils/shuffle";
    document.addEventListener("DOMContentLoaded", shuffleAnimation);
</script>
