---
import "../styles/global.css";
---

<!doctype html>
<html lang="en" data-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/creativefrontdev-favicon.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<main class="min-h-[100dvh]">
			<slot />
		</main>
	</body>
</html>