---
// import Header from "../components/Header.astro";
import FixedGrid from "../components/SmallComponents/FixedGrid.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en" data-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			type="image/webp"
			href="/creativefrontdev-favicon.webp"
		/>
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="I do frontend, but I’m also all about interactions, animations, and visual delight."
		/>
		<title>Anas — Creative Frontend Developer</title>
	</head>
	<body>
		<!-- <Header /> -->
		<main class="main">
			<slot />
			<FixedGrid />
		</main>
	</body>
</html>
