---
import Header from "../components/Header.astro";
import "../styles/global.css";

const gridItems = Array.from({ length: 8 });
---

<!doctype html>
<html lang="en" data-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			type="image/webp"
			href="/creativefrontdev-favicon.webp"
		/>
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="I’m a frontend developer who brings websites to life with immersive UI design, smooth animations, and engaging micro-interactions. Specializing in creative development, I craft dynamic digital experiences that are both functional and fun."
		/>
		<title>Anas — Creative Frontend Developer</title>
	</head>
	<body>
		<Header />
		<main class="main">
			<slot />
			<div class="f-grid">
				<ul>{gridItems.map(() => <li />)}</ul>
			</div>
		</main>
	</body>
</html>
